/* CSS Document */
@import "./mixins.scss";
@import "../../lib/bootstrap/dist/css/bootstrap.min.scss";

$zp:0px;
$bgAisle:"../_img/flags.jpg";
$bgVertical: top;
$bgHorizontal: center;
$bgRepeat: no-repeat;
$bgSize: cover;
$bgBlue: rgba(20, 120, 200, .99);
/* vender prefix */
$venderList: "-webkit-", "-moz-", "-ms-", "-o-", "";

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body.basictorso
{
	@include extendFlex($zp);
	@include fontSmooth();
}

div.carousel-height {
	height: 350px;
	.carousel-img-style {
		margin:auto;
		width:200px;
		height:200px;
	}
}

// datepicker
.full button span {
	background-color: limegreen;
	border-radius: 32px;
	color: black;
}
.partially button span {
	background-color: orange;
	border-radius: 32px;
	color: black;
}

// Typeahead
.typeahead-demo .custom-popup-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper > .message {
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
	position: static;
	float: none;
	display: block;
	min-width: 160px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}